# Gradle
.gradle/
build/

# IDEs
.idea/
out/
*.ipr
*.iws
*.iml
.classpath
.project
.settings/
bin/
.vscode/

# Project Specific
run/
temp/
build-source-snapshots/
билды для выкладки/

# Cloud Storage / OS
.tmp.driveupload/
.tmp.drivedownload/
.DS_Store
*.log
