# Gradle
.gradle/
build/

# IDEs
.idea/
out/
.vscode/

# Project Specific
run/
temp/
tools/
build-source-snapshots/
билды для выкладки/

# Google Drive sync files
.tmp.driveupload/
.tmp.drivedownload/
